@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: blue;
}

.header-container {
  color: white;
  width: 1800px;
  display: flex;
  justify-content: space-around;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 130px;
  height: 40x;
  color: white;
}

.menu,
.searchbar {
  margin-left: 30px;
}

#myLinks {
  display: none;
}

.searchbar {
  display: flex;
  justify-content: center;
}

button {
  border: none;
  color: blue;
  outline: none;
}

.searchbar input[type="text"] {
  width: 700px;
  padding: 10px;
  font-size: 18px;
  border: none;
}

.fa {
  font-size: 24px;
  cursor: pointer;
}

.shopping-cart {
  margin-left: 4rem;
  font-size: 20px;
}

.shopping-cart a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.location-selector {
  font-size: 20px;
}

.location-selector .fas {
  margin-right: 0.5rem;
}
.end-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopping-cart .fas {
  margin-right: 0.5rem;
  font-size: 20px;
}

.menu{
  cursor: pointer;
}

.menu .fas {
  font-size: 30px;
}

/* Navbar*/

nav {
  width: 1800px;
}

nav ul a {
  color: white;
  text-decoration: none;
  margin-right: 1rem;
  font-size: 14px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 0.5rem;
}

.left-nav {
  display: flex;
  margin-left: 4rem;
}

.right-nav {
  display: flex;
}

li {
  list-style: none;
}

nav .left-nav a:hover {
  text-decoration: underline;
}

.right-nav .fas {
  margin-left: 5px;
}

.right-nav .far {
  margin-right: 5px;
}

/*Location*/
.location-window {
  background-color: white;
  color: black;
  position: absolute;
  padding: 0.5rem;
  margin-right: 19.5rem;
  margin-top: 9.5rem;
  width: 250px;
  line-height: 2.5;
  box-shadow: 2px 2px 8px rgba(189, 148, 255, 0.5);
  font-size: 14px;
}

.description {
  text-align: center;
  margin-left: 1rem;
}

#myLinks {
  display: none;
}

.pop-up-window {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: -10rem;
  margin-top: 1rem;

}




.none {
  line-height: normal;
}

.store-detail a {
  color: #0457c8;
  text-decoration: none;
  font-weight: bold;
}

.store-detail a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.location-window button a {
  color: blue;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.location-window button a:hover {
  color: white;
  text-decoration: none;
}

.location-window button {
  border: 1px solid blue;
  border-radius: 3px;
  width: 225px;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 0.4rem;
}

.location-window button:hover {
  background: blue; 
}

/* Account Tab */
.account-tab {
  display: flex;
  justify-content: flex-end;
  margin-left: 70rem;
  align-items: center;
  flex-direction: column;
  position: absolute;
  background-color: white;
  box-shadow: 2px 2px 8px rgba(189, 148, 255, 0.5);
}

.account-tab .user-info {
  width: 400px;
}

.horizontal {
  border-top: 1px solid grey;
  box-shadow: 2px 2px 8px grey;
}

.account-tab .none-1 a {
  border: none;
}

.together-1 {
  border-bottom: 1px solid black;
  margin-left: 1rem;
  margin-right: 1rem;
}

.account-tab .tab1 {
  margin: 0.9rem;
  border-color: #c5cbd5;
  width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.together {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 370px;
}

.together span {
  font-size: 10px;
  width: 320px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.account-tab .tab1 a {
  text-decoration: none;
  color: blue;
}

/* guest user */
.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
}

.user-info .user-text {
  text-align: center;
  font-size: 13px;
  margin: 1rem;
}

.user-info .btn,
.create-btn {
  background: blue;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 24px;
  width: 260px;
  font-size: 13px;
  margin: 0.5rem;
  margin-bottom: 1rem;
  outline: none;
  text-align: center;
  padding: 0.4rem;
}

.user-info .btn,
.create-btn a {
  text-decoration: none;
}

.closeTag {
  font-weight: bold;
}

.closeTagxd a {
  margin-left: 0.5rem;
}

.together {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5rem;
}

.user-info a {
  text-decoration: none;
  font-weight: bold;
}

.user-info a:hover {
  background-color: darkblue;
  padding: 0.3rem;
}

.tab1 a:hover {
  color: dodgerblue;
}

#myLinks2 {
  display: none;
}

.location-selector:hover {
  cursor: pointer;
}

/* Recently Viewed Tab */
.item-grid {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 152px;
}

.item-grid img {
  width: 152px;
}

.recently {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  width: 1030px;
  margin: auto;
  margin-right: 14rem;
  padding: 3rem;
  box-shadow: 2px 2px 8px rgba(189, 148, 255, 0.5);
  border-bottom: 1px solid black;
}

.item-grid a {
  text-decoration: none;
  font-size: 13px;
  width: 100%;
}

.checked {
  color: orange;
}

.recently .btn-item {
  border: 1px solid black;
  width: 100%;
  padding: 5px;
  text-align: center;
}

.descrip {
  margin-top: 0.5rem;
  font-size: 12px;
}

.h2-con {
  background-color: white;
  width: 1030px;
  margin-left: 29.8rem;
  padding: 1rem;
}

.h2-con h2 a {
  text-align: center;
}
.h2-con a {
  text-decoration: none;
  color: blue;
  font-size: 13px;
  text-align: center;
}

.fa-angle-double-right {
  margin-left: 2rem;
  margin-right: 0.5rem;
}

section {
  display: flex;
  justify-content: start;
}

#myLinks3 {
  display: none;
}

#myLinks4 {
  display: none;
}

#myLinks5 {
  display: none;
}

.recent-container {
  background: blue;
}

/* Order status */
.order-status {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-color: White;
  box-shadow: 2px 2px 8px rgba(189, 148, 255, 0.5);
  width: 1030px;
  padding: 1rem;
  margin-left: 33.5rem;
}

.order-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.order-content {
  line-height: 1.5;
  width: 435px;
}

.order-status h2 {
  border-bottom: 1px solid black;
}

.fa-box {
  padding-bottom: 1rem;
}

.order-btn {
  border: 1px solid black;
  background-color: blue;
  width: 435px;
  text-align: center;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 4px;
}

.order-btn a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.order-btn:hover {
  background-color: darkblue;
}

.order-content p {
  font-size: 12px;
}

.order-content h3 {
  font-size: 35px;
}

.order-status-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1rem;
}

.hr {
  border-bottom: 1px solid grey;
  margin-top: 1rem;
}

.title-link-separator {
  height: 29px;
  width: 1px;
  background-color: #c5cbd5;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.order-status-title a {
  text-decoration: none;
  color: blue;
}

.saved-items {
  border: none;
  background-color: White;
  box-shadow: 2px 2px 8px rgba(189, 148, 255, 0.5);
  width: 1030px;
  padding: 1rem;
  margin-left: 41rem;
}

.saved-items h2 {
  border: none;
}

.saved-status-grid-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem;
}

.saved-status-grid-container .item-grid {
  margin-left: 1rem;
}

.saved-status-grid-container .btn-item {
  border: 1px solid black;
  width: 150px;
  text-align: center;
  border-radius: 5px;
  padding: 0.4rem;
  background-color: blue;
}

#relate-items {
  color: blue;
}

.saved-status-grid-container .btn-item a {
  color: white;
}

#relate-items a:hover {
  text-decoration: underline;
}





/*Labor Day Sale */

.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:darkblue; 
  flex-direction: column;
  

}

.sales-title{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  width: 1200px;
  margin-top: 1rem;
}

.sales-title .btn  a{
  border: 1px solid white;
  background-color: rgb(38, 0, 255);
  
}

.sales-title .btn  a:hover{
  color: blue;
  background-color:white;
  
}

.sales-title h2{
  color: yellow;

}

.paragr{
  font-size: 22px;
  font-weight: bold;
}

.sales-title h2{
  font-size: 50px;

}
.sales-title a{
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 0.5rem;


}


.grid-container{
  
  grid-template-columns: auto auto auto auto auto auto;
  display: grid;
  justify-content: center;
  width: 50%;
  margin: 1rem;
  text-align: center;
  padding: 1rem;

}

.grid-item {
  background-color:#fff;
  border: 1px solid black;
  padding: 20px;
  border-radius: 50%;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  border-color: skyblue;
  border-width: 4px;


  
}

.grid-item img{
  width:130px;
  padding: 5px;
  

}


.grid-item-link a{
  text-decoration: none;
  color: yellow;
  font-weight: bolder;

  
}

.grid-item-link a:hover{
  text-decoration: underline;
}

.grid-item-link{
  margin-bottom: 3rem;
}

.main-container span{
  text-align: none;
  color: white;
}

.daily-deals{
  width: 60%;
  margin-top: 1rem;
}



/*Widgets*/

.widget-wapper
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}

.widget-col{
  display: flex;
  justify-content: center;
  align-items: center;
}

.widget-col img{
  width: 100px;
}

.widget-col a{
  text-align: center;
  color: blue;
  text-decoration: none;
  font-weight: bold;
  margin-left: 1rem;
}


.widget-col a:hover{
  color: darkblue;
  font-weight: bolder;
  text-decoration: underline;
}

.widget-wapper .widget-link{
  margin-right: 1rem;
}




/*item-feature-box */

.item-feature-box{
  display: flex;
  justify-content: space-between;
  background-color:black;
  width: 1400px;
  margin:auto;
  border-radius: 1rem;
}

.item-feature-box img{
  width: 50%;  
}

.item-feature-box .fas{
  font-size: 52px;
  color: white;
}

.item-feature-item{
  padding: 1rem;
  margin-left: 1rem;
  border:1px solid white;
  background-color: white;
  box-shadow: 1px solid black;
  border-radius: 12px;
  

}


.item-feature-title{
  color: white;
}
.item-feature-item .descrip a {
  text-decoration: none;
  word-break: break-word;
}

.item-feature-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}


.item-feature-title{
  padding: 2rem;
  
}

.item-feature-title h2{
  font-size: 40px;
}

.item-feature-title a{
  color: yellow;
  font-weight: bold;
  text-decoration: none;
}

.item-feature-item .stars .fa{
  font-size: 12px;
}

.item-feature-box .item-next{
  margin-left: 1rem;
}


/*Featured Items */

.featured-offers{
  display: grid;
  margin: auto;
  margin-top: 1rem;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  width: 1400px;

}

.featured-offers-col{
  
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-width: 0.5rem;
  border-color: blue;
  padding: 20px;
  font-size: 18px;
  text-align: center;
}


.featured-offers-col img{
  width: 100%;
}

.featured-offers-col a{
  text-decoration: none;
}

.featured-offers-col .text-content{
  text-align: start;
}

.featured-offers-col .text-content .descriptions, .disclaimer{
  font-size: 13px;

}

.border-top{
  border-top: 1px solid black;
  
}

.two-twin{
  display: flex;
  justify-content: space-between;
  width: 1420px;
  margin: auto;
  margin-top: 1rem;
}

.two-twin-col{
  display: flex;
  justify-content: center;  
  align-items: center;
  padding: 2rem;
  margin-right:10px;
  margin-left:10px;

  border: 1px solid black;
  width: 100%;
  background-color: #f0f2f4;

}

.two-twin-col a{
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

.two-twin-col a:hover{
  color: darkblue;
  text-decoration: underline;
}


.two-twin-col p{
  color: black;
  font-weight: bolder;
  margin-bottom: 1rem;  


}

.two-twin-col img{
  border-radius: 50%;
  width: 150px;

}

/* deal-clear-help */
.deal-clear-help{
  display: flex;
  justify-content: space-between;
  width: 1400px;
  margin:auto;
  margin-top: 1rem;
}

.deal-clear-help img{
  width: 100%;

}

.deal-of-the-day, .clearance, .card-help{
  border: 1px solid grey;
  width: 450px;
  padding: 1rem;
  box-shadow: 1px solid grey;

}

.deal-of-the-day, .clearance, .card-help, a{
  text-decoration: none;
  color: blue;
}

.deal-clear-help p{
  color:black;
  font-size: 12px;
  margin-top: 1rem;
}



/* Footer */

.footer-top{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: blue;
  color: yellow;
  
}

.form-container{
  margin: 1rem;

}

.footer-logo .fab{
  font-size: 32px;
  
  
  

}


footer{
  margin-top: 2rem;
}

.footer-logo
{
  text-align: center;
  display: flex;
  align-items: center;
  
  
}



.form-container #btn{
  background-color:yellow;
}

.form-container #email{
  padding: 12px;
  width: 300px;
  border: 1px solid black;
  outline: none;
}

.form-container input{
  padding:12px;
  margin-left: 1rem;
  border: 1px solid black;
  outline: none;
  background-color: white;
  color: black;
  font-weight: bolder;


}

.footer-line{
  border-left: 1px solid #c5cbd5;
  height: 35px;
  margin: 0 auto;
  margin-right: 3rem;
}

.footer-logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.footer-logo a{
  color: yellow;
}

.fa-app-store{
  font-size: 18px;
  margin-right: 1rem;
}

/* Footer bottom that shows all the additional support */
.footer-bottom{
  display: flex;
  justify-content: space-around;
  width: 1450px;
  margin: auto;
  margin-top: 1rem;

}

ul{
  font-size: 13px;
  list-style-type: none;

}

li, a{
  color: #0457c8;
  margin-top: 0.5rem;
}

.footer-bottom h6 {
  font-size: 17px;
}

.footer-bottom-col{
  padding: 1rem;

}

.footer-bottom a:hover{
  text-decoration: underline;
}


.footer-divider{
  width: 1400px;
  margin: auto;
  border-top: 1px solid grey;

  padding: 1rem;
} 


/*Footer bottom -bottom*/
.footer-bottom-bot {
  display: flex;
  justify-content: space-between;
  width: 1400px;
  margin:auto;


}


.footer-bottom-bot a:hover{
  text-decoration: underline;
}


.footer-bottom-bot-col{
  font-size: 13px;
  color: blue;

}

.footer-bottom-bot-icons{
  width: 1400px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto;

  
}

.footer-bot-border{
  border-left: 1px solid;
}


.footer-bottom-bot-icons .icons{
  margin-right:10px;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 50%;
  padding: 0.2rem;
  
}

.footer-bottom-bot-icons .fab{
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 2px;
  
}


.footer-bottom-bot-icons a{
  color: #2196F3;
  font-size: 12px;


}

.copyright{
  margin: auto;
  font-size: 12px;
  width: 1400px;
  margin-top: 12px;

}



/*Hamburger Menu */
.menu-container{
  background-color:white;
  width: 400px;
  height: calc(100vh - 73px);
  overflow-y: scroll;
  position: absolute;
  line-height: 1.3;
  margin-left: 4rem;

}

.menu-container .menu-col-divider{
  border: 1px solid black;
  box-shadow: 2px 2px 8px rgba(207, 211, 212, 0.5);

}

.menu-container .menu-col-links{
  margin: 1rem;
}

.menu-container h3{
  text-align: center;
  padding: 0.5rem;

}

.menu-container .menu-col{
  margin: 1rem;

}


 #myHam{

  display:none;
  
}


.menu-container .menu-col-links a:hover{
  text-decoration: underline;
  font-weight:bold;

}

.menu-col-box a:hover{
  text-decoration: underline;
  font-weight:bold;

}


.menu-container .border-top{
  width: 95%;
  margin:auto;
  border-color: #c5cbd5;
}